/*Joseph Britt Pleasant, 02/08/2023, styles.css*/
html, body {
    margin:0;
    padding:0;
}

body, header, nav, main, footer {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#container {
    text-align: center;
}

body {
    background-color: lightslategray;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

.table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    border-collapse: collapse;
    margin-left: 36%;
    margin-right: 20%;
    width: 28%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

tr:nth-child(even) {
    background-color: darkcyan;
}

.table th {
    padding: 10px;
    padding-bottom: 8px;
    background-color: #720e9e;
    color: aliceblue;
}

#links {
    text-decoration: none;
    color: #720e9e;
}

.lesson-form {
   max-width: 25%;
   margin: 2rem auto;
   border: 2px solid #720e9e;
   padding: 2rem;
   background-color: rgba(0, 0, 0, .5);
   color: #fff;
}

p {
    color:#001200;
}

a {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

li {
    display: block;
    padding: 1%;
}

.mainphoto {
    border-radius: 2em;
    box-shadow: 10px 5px 5px darkcyan;
}

.tphoto {
border-color: black;
border-style: solid;
border-width: 2px;
margin-top: 2px;
margin-bottom: 2px;
}

footer {
    background-color: #720e9e;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 10px; 
    bottom: auto;
    color: aliceblue;
}
